@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-*: initial;
  --color-bg-purple: #302c42;
  --color-bg-dark: #211e2e;
  --color-white: #ffffff;
  --color-purple: #343045;
  --color-purple-100: #bcb2e4;
  --color-purple-200: #9382d8;
  --color-red: #e12c2c;
  --color-grey: #b4b2b2;
}

body {
  font-size: 12px;
  font-weight: 400;
  background-color: var(--color-bg-purple);
  color: var(--color-white);
  line-height: 1.2;
}

@utility container {
  @apply mx-auto max-w-[calc(100%-32px)] md:max-w-[calc(100%-80px)] xl:max-w-[1272px];
}

/*SCROLL*/

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

/* WebKit */
*::-webkit-scrollbar {
  width: 0.5px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: #3a3a42 !important;
}

/*Input styles for background and text color together*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  background-color: inherit !important;
  -webkit-text-fill-color: inherit !important;
}

/*Hiding the autofill input for safari*/

input[type='text']::-webkit-contacts-auto-fill-button,
input[type='text']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[class*='__container'] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}
